body {
  background: rgb(5,0,39);
  color: black;
  overflow: hidden;
}

@media screen and (max-width: 300px) {
    .btn-area {
      width: 20%;
    }
    .todo-wrapper {
      width: 70%;
    }
}

h1 {
  text-align: center;
  color: white;
  font-family: monospace;
}

.todo-wrapper {
  background: white;
  padding: 2%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 0px 5px 7px rgb(27,27,27);
  border-radius: 10px;
}

.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(78, 78, 78);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.todo-input-item label {
  font-weight: bold;
  margin-bottom: 10px;
  font-family: monospace;
  color: white;
}

.todo-input-item input {
  padding: 10px;
  border: none;
  width: 100%; 
  background-color: rgb(227, 230, 228);

}

.todo-input-item-btn {
  margin-left: 0vh;
  margin-top: -4px;
}

.todo-input-item input:focus {
  outline: none;
}

.primaryBtn {
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 0px;
  margin-top:29px;
  padding: 10px;
  width: 140px;
  cursor: pointer;
  font-family: monospace;
}

.primaryBtn:hover {
  background-color: rgb(182, 61, 17);
}

.btn-area {
  margin-left: 0%;
  margin-right: 10%;
  margin-bottom: 15px;
  display: inline-block;
  background: blue;
  width: 200px;
  
}

.secondaryBtn {
  background-color: rgb(227, 230, 228);
  border: none;
  border-radius: 0px;
  padding: 10px;
  color: white;
  cursor: pointer;
  width : 50%;
  font-family: monospace;

}

.secondaryBtn:hover {
  background-color: rgb(185, 182, 181);
}
.btn-area .active {
  background-color: orangered;
  border: none;
  border-radius: 0px;
  padding: 10px;
  color: white;
  cursor: pointer;
  width: 50%;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-list-item {
  background-color: rgb(227, 230, 228);
  align-items: center;
  padding: 25px;
  padding-right: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px rgb(240, 240, 240);
  cursor: move;  
}

.todo-list-item h6 {
  font-size: 1vw;
  color: black;
  font-weight: lighter;
  margin: 0;
  font-family: monospace;
}

.icons {
justify-content: center;
justify-items: center;
 float: right;
 margin-top: -18px;
 width:10%;
 padding-right: -60%;
 
}

.icon {
  font-size: 1.5vw;
  cursor: pointer;
  justify-items: right;
  margin-left: 20%;
}

.icon-completed {
  font-size: 1.5vw;
  cursor: pointer;
  justify-items: right;
  margin-left: 50%;
}

.check-icon {
  font-size: 1.5vw;
  margin-left: 20%;
  color: orangered;
  cursor: pointer;
  position: relative;
  right: 0;
}

.check-icon:hover {
  color: orangered;
}  
